<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--Set the app mode to run in 30 minute intervals-->
    <add key="Mode" value="Interval"/>
    <!--Set it as IntervalMinutes and the value is 30 minutes-->
    <add key="IntervalMinutes" value="30"/>
  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=**************;Integrated Security=False;initial catalog= HelpDeskData; User ID=**;Password=**********;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
